body{

    background-color: #ddd;
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

/* icons */

.fa-chevron-circle-down{
    float: left;
    cursor: pointer;
}

.socialnetwork{
    margin-top: -40px;
    float:right;
}

.fa {
    padding: 20px;

    text-align: center;
    text-decoration: none;
    color: rgb(101, 111, 255);

  }
  
  /* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
  }

/* header */

header{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 60px;

    background-color: #fff;

    border-bottom: solid 5px rgb(101, 111, 255);
}

#logo{
    position: fixed;
    padding: 10px;
    margin-top: 0px;

    font-family: 'Baloo Chettan', cursive;
    font-size: 30px;
    color: #fff;
    background-color: rgb(101, 111, 255);
}

/* menu */

#chk:checked ~ #principal{
    transform: translateY(400px);
}

.menu{
    margin-top: -400px;
    height: 400px;
    width: 100%;
    position: fixed;
    background-color: rgb(101, 111, 255);
    top: 0;
    left: 0;
    overflow: auto;
    transition: all .2s;
    box-shadow: 5px 0px 15px 5px rgba(0,0,0,0.2);

}

.submenu{
    display: inline-block;
    padding: 10px;
    width: auto;

    background-color: #fff;
    border-radius: 5px;
    color: #000;
    
}

#subtitle{
    color: #fff;
}

#subitem{
    color: rgb(101, 111, 255);
}

.projects{
    margin-left: 400px;
}

.menuitems{
    margin-top: 20px;
    margin-left: 200px;
}

#items{
    padding: 10px;

    font-weight: bold;
    color: rgb(101, 111, 255);
}

/* section */

.frist{
    margin-top: -500px;
    width: 100%;
    height: 400px;

    background-image: url("_scripts/cities.jpeg");
}

.second{

}

.third{

}


/* footer */

footer{
    position: absolute;
    display: inline-block;
    
    left: 0;

    
    width: 100%;
    height: 200px;

    border-top: solid 5px rgb(101, 111, 255);
    background-color: #fff;
    color: rgb(101, 111, 255);
}

#corpyright{
    margin-top: 40px;
    margin-left: 30px
}

.footercontent{
    float: right;
}

#footeritem{
    padding: 20px;
    margin-right: 20px;
    color: #fff;
}